Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Migrate
Flask-SocketIO
SQLAlchemy>=2.0
psycopg2-binary
scikit-learn
numpy
scipy
pandas
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
requests
pytest
openpyxl
python-socketio
python-engineio
simple-websocket
gunicorn
